@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body{
  background-image: url(../tb.jfif);
   background-repeat: no-repeat; 
   width: 100%;
  height: 100%; 
}
.main{
  width: 100%;
  background: linear-gradient(to top,rgba(0,0,0,0.5 )50%, rgba(0,0,0,0.5)50%) ,url(tb.jfif);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 109vh;
}

.light {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
  /* background-image:url(tb.jfif); */
}

.dark {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #192e3a;
  --darkOne: #f3f3f3;
  --darkTwo: #fff;
  --lightOne: #ccc;
  --lightTwo: #e7e3e3;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.big-wrapper {
  position: relative;
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 3rem; */
  z-index: 10;
}

header {
  position: relative;
  z-index: 70;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 40px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

.logo h3 {
  color: var(--darkTwo);
  font-size: 1.55rem;
  line-height: 1.2;
  font-weight: 700;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color: rgb(122, 112, 112);
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
}

.links a:hover {
  color: var(--hoverColor);
  transform: scale(1.05);
}

.btn {
  margin-top: 25px;
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: #fff !important;
  background-color: teal;
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--hoverColor);
  transform: scale(1) !important;
}

.hamburger-menu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

.big-wrapper.active .hamburger-menu .bar {
  background-color: transparent;
}

.big-wrapper.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after {
  transform: translateY(0) rotate(45deg);
}

.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.big-title {
  font-size: 1.4rem;
  color: var(--darkOne);
  text-transform: capitalize;
  line-height: 1.4;
}

.text {
  color: var(--lightOne);
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.showcase-area .btn {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
  width: 123%;
  transform: translate(15%, 25px);
}

.toggle-btn {
  display: inline-block;
  border: none;
  background: var(--darkTwo);
  color: var(--backgroundColor);
  outline: none;
  cursor: pointer;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  font-size: 1.1rem;
  transition: 0.3s;
}

.toggle-btn i {
  line-height: 39px;
}

.toggle-btn:hover {
  background: var(--mainColor);
}

.big-wrapper.light .toggle-btn i:last-child {
  display: none;
}

.big-wrapper.light .toggle-btn i:first-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:last-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:first-child {
  display: none;
}

.shape {
  position: absolute;
  z-index: 0;
  width: 500px;
  bottom: -180px;
  left: -15px;
  opacity: 0.1;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: appear 1s 1 both;
}

@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen and (max-width: 870px) {
  .hamburger-menu {
    display: flex;
  }

  .links {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    z-index: 85;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links ul {
    flex-direction: column;
  }

  .links a {
    color: #fff;
    margin-left: 0;
    padding: 2rem 0;
  }

  .links .btn {
    background: none;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .big-wrapper.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }

  .big-wrapper.active .overlay {
    pointer-events: all;
    opacity: 1;
  }

  .showcase-area {
    padding: 2.5rem 0;
    max-width: 700px;
    margin: 0 auto;
  }

  .showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
  }

  .big-title {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.95rem;
    margin: 1.4rem 0 1.5rem;
  }

  .person {
    width: 100%;
    transform: none;
  }

  .logo h3 {
    font-size: 1.25rem;
  }

  .shape {
    bottom: -180px;
    left: -150px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }
}




.mdiv h1{
  font-size: 2.1 rem;
  line-height: 1.4;
  letter-spacing: 0.5 rem;
  text-align: center;
  color: white;
  margin-top: 10px;
  position: relative;
  color: #000;
  font-size: 30px;
}
body{
  background-color:#192e3a;
}
.mdiv{
  width: 95%;
  height: 250px; 
  position: absolute;
  left:50%;
  /* top:50%; */

  background-image: url(../img1.jpg);
  background-size: 100% 100%;
  transform: translate(-50%, 10%);
  box-shadow: 1px 2px 10px 5px black;
  animation: slider 10s infinite linear;
}
@keyframes slider{
  0%{
    background-image: url(./assets/2.jpg);
  }
  50%{
    background-image: url(./assets/5.jpg);
  }
  90%{
    background-image: url(./assets/4.jpg);
  }
}



 .main2{
  margin: 2%;
  position: absolute;
  bottom: -1100px;
  /* transform: translate(-25px); */

 }
 
 .card{
      width: 15%;
      display: inline-block;
      box-shadow: 2px 2px 20px white;
      border-radius: 5px; 
      margin: 2%;
     }
 
 .image img{
   width: 100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   
 
  
  }
 
 .title{
  
   text-align: center;
   padding: 10px;
   
  }
 
 h1{
   font-size: 20px;
  }
 
 .des{
   padding: 3px;
   text-align: center;
  background-color: white;
   padding-top: 10px;
        border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
 }
 button{
   margin-top: 40px;
   margin-bottom: 10px;
   background-color: white;
   border: 1px solid black;
   border-radius: 5px;
   padding:10px;
 }
 button:hover{
   background-color: black;
   color: white;
   transition: .5s;
   cursor: pointer;
 }
 .row{
  background-color:black;
  position: absolute;
  bottom: -1445px;
  left:0px;
}


.container{
 max-width: 1170px;
 margin:auto;
}
.row{
 width: 100%;
 display: flex;
 flex-wrap: wrap;
}
ul{
 list-style: none;
}
.footer{
 /* background-color: #24262b; */
   padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
  
}
.footer-col h4{
 font-size: 18px;
 color: #ffffff;
 text-transform: capitalize;
 margin-bottom: 35px;
 margin-top: 35px;
 margin-left: 55px;
 font-weight: 500;
 position: relative;
}
.footer-col h4::before{
 content: '';
 position: absolute;
 left:0;
 bottom: -10px;
 background-color:#192e3a;
 height: 2px;
 box-sizing: border-box;
 width: 50px;
}
.footer-col ul li:not(:last-child){
 margin-bottom: 10px;
}
.footer-col ul li a{
 position: relative;
 font-size: 16px;
 text-transform: capitalize;
 color: #ffffff;
 text-decoration: none;
 font-weight: 300;
 color: #bbbbbb;
 display: inline-block;
 transition: all 0.3s ease;
}
.footer-col ul li a:hover{
 color: #ffffff;
 padding-left: 8px;
}
.footer-col .social-links a{
 display: inline-block;
 height: 40px;
 width: 40px;
 background-color: rgba(255,255,255,0.2);
 margin:0 10px 10px 0;
 text-align: center;
 line-height: 40px;
 border-radius: 50%;
 color: #ffffff;
 transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
 color: #24262b;
 background-color: #ffffff;
}


@media(max-width: 767px){
 .footer-col{
   width: 50%;
   margin-bottom: 30px;
}
}
@media(max-width: 574px){
 .footer-col{
   width: 100%;
}
}

  
  .left .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
  }
  .big-title h1{
    font-family: 'Times New Roman';
    font-size: 45px;
    padding-left: 15px;
    margin-top: 9%;
    letter-spacing:1px ;
  
  }
