@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
/* body{
  
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
} */
.main{
  width: 100%;
  background: linear-gradient(to top,rgba(0,0,0,0.5 )50%, rgba(0,0,0,0.5)50%) ,url(tb.jfif);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 109vh;
}

.navbar{
  width: 1200px;
  height: 75px;
  margin: auto;
  /* display: inline-flex; */
}

.icon{
  width: 200px;
  float: left;
  height: 70px;
}

.logo{
  color:teal;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}

.menu{
  width: 400px;
  float: left;
  height: 70px;
}
.menu ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover{
  color: teal;
}
.search{
  width: 330px;
  float: left;
  margin-left: 270px;
}
.srch{
  font-family:'Times New Roman' ;
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid teal;
  margin-top: 13px;
  color:#fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.btn{
  width:100px;
  height:40px;
  background: teal;
  border: 2px solid teal;
  margin-top: 13px;
  color:#fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn:focus{
  outline:none;
}
.srch:focus{
  outline:none;
}
.content{
  width: 1200px;
  height: auto;
  margin:auto;
  color:#fff;
  position: relative;

}

.content .par{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}
.content h1{
  font-family: 'Times New Roman';
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing:2px ;

}

.content .cn{
  width: 160px;
  height: 40px;
  background: teal;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor:pointer;
  transition: .4s ease;
}

.content .cn a{
  text-decoration: none;
  color: black;
  transition: .3s ease;
}

.cn:hover{
  background-color:#fff ;
}

.content span{
  color:teal;
  font-size: 60px;

}
.form{
  width: 279px;
  height: 380px;
  background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  position: absolute;
  top:-20px;
  left:870px;
  border-radius: 10px;
  padding: 25px;
}

.form h2{
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: teal;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;

}

.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid teal;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus{
  outline: none;
}

::placeholder{
  color:#fff;
  font-family: Arial;

}

.btnn{
  width: 240px;
  height: 40px;
  background: teal;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition:0.4s ease ;
}

.btnn:hover{
  background: #fff;
  color:teal;
}

.btnn a{
  text-decoration:none ;
  color: #000;
  font-weight: bold;
}
.form .link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form .link a{
  text-decoration: none;
  color:teal;
}

.liw{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center ;

}
.icons a{
  text-decoration: none;
  color: #fff;
}
.icons ion-icon{
  color:#fff;
  font-size: 30px;
  padding-left: 18px;
  padding-top: 5px;
  transition: 0.3s ease
}
.icons ion-icon:hover{
  color: teal;
}
.sidenav{
  display: inline-flex;
}



.mdiv h1{
  font-size: 2.1 rem;
  line-height: 1.4;
  letter-spacing: 0.5 rem;
  text-align: center;
  color: white;
  margin-top: 10px;
  position: relative;
  color: #000;
  font-size: 30px;
}
body{
  background-color:rgb(20, 39, 39);
}
.mdiv{
  width: 75%;
  height: 250px; 
  position: absolute;
  left:50%;
  /* top:50%; */

  background-image: url(./img1.jpg);
  background-size: 100% 100%;
  transform: translate(-50%, 10%);
  box-shadow: 1px 2px 10px 5px black;
  animation: slider 9s infinite linear;
}
@keyframes slider{
  0%{
    background-image: url(./assets/img3.jpg);
  }
  35%{
    background-image: url(./assets/img1.jpg);
  }
  75%{
    background-image: url(./assets/img2.jpg);
  }
}



 .main2{
  margin: 2%;
  position: absolute;
  bottom: -1100px;
  /* transform: translate(-25px); */

 }
 
 .card{
      width: 15%;
      display: inline-block;
      box-shadow: 2px 2px 20px white;
      border-radius: 5px; 
      margin: 2%;
     }
 
 .image img{
   width: 100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   
 
  
  }
 
 .title{
  
   text-align: center;
   padding: 10px;
   
  }
 
 h1{
   font-size: 20px;
  }
 
 .des{
   padding: 3px;
   text-align: center;
  background-color: white;
   padding-top: 10px;
        border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
 }
 button{
   margin-top: 40px;
   margin-bottom: 10px;
   background-color: white;
   border: 1px solid black;
   border-radius: 5px;
   padding:10px;
 }
 button:hover{
   background-color: black;
   color: white;
   transition: .5s;
   cursor: pointer;
 }
 .row{
  background-color:black;
  position: absolute;
  bottom: -1445px;
  left:0px;
}


.container{
 max-width: 1170px;
 margin:auto;
}
.row{
 width: 100%;
 display: flex;
 flex-wrap: wrap;
}
ul{
 list-style: none;
}
.footer{
 background-color: #24262b;
   padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
  
}
.footer-col h4{
 font-size: 18px;
 color: #ffffff;
 text-transform: capitalize;
 margin-bottom: 35px;
 margin-top: 35px;
 margin-left: 55px;
 font-weight: 500;
 position: relative;
}
.footer-col h4::before{
 content: '';
 position: absolute;
 left:0;
 bottom: -10px;
 background-color:teal;
 height: 2px;
 box-sizing: border-box;
 width: 50px;
}
.footer-col ul li:not(:last-child){
 margin-bottom: 10px;
}
.footer-col ul li a{
 position: relative;
 font-size: 16px;
 text-transform: capitalize;
 color: #ffffff;
 text-decoration: none;
 font-weight: 300;
 color: #bbbbbb;
 display: inline-block;
 transition: all 0.3s ease;
}
.footer-col ul li a:hover{
 color: #ffffff;
 padding-left: 8px;
}
.footer-col .social-links a{
 display: inline-block;
 height: 40px;
 width: 40px;
 background-color: rgba(255,255,255,0.2);
 margin:0 10px 10px 0;
 text-align: center;
 line-height: 40px;
 border-radius: 50%;
 color: #ffffff;
 transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
 color: #24262b;
 background-color: #ffffff;
}


@media(max-width: 767px){
 .footer-col{
   width: 50%;
   margin-bottom: 30px;
}
}
@media(max-width: 574px){
 .footer-col{
   width: 100%;
}
}