* {
  box-sizing: border-box;
  user-select: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.material-icons {
  color: #fff;
  font-size: 34px;
}

.button-inside .material-icons {
  font-size: 16px;
}

.main-wrapper {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 14px 12px rgba(0, 0, 0, 0.5);
}

.main-wrapper-inside img{
  width: 135px;
  height: 170px;
  position: relative;
  z-index: -1;
 
}

.button {
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #0079a4;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); 
  box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.4);
  will-change: transform;
}

.button .material-icons {
  transition: transform 200ms cubic-bezier(0.19, 1, 0.22, 1); 
  will-change: transform;
  transform-origin: center center;
}

.button.animation {
  background-color: #0079a4;
}

.button.animation .material-icons {
  transform: rotate(-45deg) translateZ(0);
}

.button-wrapper {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms cubic-bezier(0.07, 1.1, 0.28, 1.01);
  will-change: transform;
}

.button-wrapper.animation {
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}

.button-wrapper.first.animation {
  transform: rotate(-36deg) translateZ(0);
}

.button-wrapper.second.animation {
  transform: rotate(-68deg) translateZ(0);
}

.button-wrapper.third.animation {
  transform: rotate(-100deg) translateZ(0);
}
.fa-plus{
  color: #fff;
  font-size: 30px;
}
.fa-plus:hover {
  background-color: #0079a4;
  transform: rotate(-90deg);
  transition: 8s;
}
.button-inside {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.button-inside.first {
  background-color: #0079a4;
  transform: rotate(36deg);
}
.button-inside.first:hover {
  background-color: #0079a4;
  transform: rotate(-360deg);
  
  font-size: large;

}

.button-inside.second {
  background-color: #0079a4;
  transform: rotate(68deg);
 
}
.button-inside.second:hover {
  background-color: #0079a4;
  transform: rotate(-680deg);
  font-size: large;
}
.button-inside.third {
  background-color: #0079a4;
  transform: rotate(100deg);
}
.button-inside.third:hover {
  background-color: #0079a4;
  transform: rotate(-1000deg);
  font-size: large;
}
/* edit css */
.compose{
  display: flex;
  flex-wrap: wrap;
}

.button1{
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #0079a4;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); 
  box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.4);
  will-change: transform;

}
.button2{
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #0079a4;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); 
  box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.4);
  will-change: transform;

}
.button3{
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #0079a4;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); 
  box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.4);
  will-change: transform;
}